# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Allure
allure-results/
allure-report/

# Reports
reports/report.html
reports/logs/*
reports/screenshots/*

# Keep folder structure
!reports/logs/.gitkeep
!reports/screenshots/.gitkeep

# OS files
.DS_Store
Thumbs.db